@use '../admin-shared' as *;

.form-grid {
  flex-direction: column;
  align-items: stretch;
}

.file-field {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-actions {
  display: flex;
  gap: 8px;
}
